.footer{
    height: 100px;
    background: #1b1e21;

}
body{
    background: rgb(120, 144, 156);
}

.fondo{
    background: #f8f9fa;

    min-height: 600px;

}

footer{
    height: 100px;
    background: #1b1e21;


}